---
import { Image } from "astro:assets";
import Button from "./Button.astro"
import Lupa from "../assets/lupa.webp"

interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
---

<section class="container my-10 mr-0 md:mr-10 px-5 md:px-0">
    <div class="bg-blue-200 w-full rounded-md p-10 relative">
        <h2 class="text-2xl font-bold md:text-5xl md:pr-48 text-indigo-900">{title}</h2>
        <p class="py-2 text-pretty">{description}</p>
        <Button title="¡Quiero mi sitio WordPress ahora!" color="rgb(49 46 129)" />
        <Image class="w-[300px] hidden md:block md:absolute -top-10 -right-5" src={Lupa} alt="WordPress" />
    </div>
</section>